<!DOCTYPE html>
<html lang="en" class="layer-space-container">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/polyclass@latest/dist/polyclass.browser-full.js"></script>
    <link rel="stylesheet" href="./static/css/index.css">
    <link rel="stylesheet" href="./static/css/admin-bar.css">
    <link rel="stylesheet" href="./static/css/pure.css">
     {# <link rel="stylesheet" href="./static/css/winbox.min.css"> #}
    <title>Cluster</title>
</head>

<body polyclass class='background-#222
                        color-#DDD
                        margin-0
                        layer-space-container
                        font-pack-lexend+deca-500
                        font-lexend+deca-500 letter-spacing-.1px'>

    <header class='primary background-#111'>
        <div class="logo padding-1em
                    font-size-1rem">Strangemother</div>
    </header>

    <div class="layer-space">

        <div class="canvas-container back">
            <canvas id="back_canvas"></canvas>
            <div class="test-indicator-container display-none">
                <div class="test-indicator"></div>
            </div>
        </div>

        <main>
            <header>
                <h1 class="title
                            text-align-center
                            font-size-2rem">
                    Drag + Zoom + Pan + Pipes
                </h1>
            </header>

            <div class="page-content">
                <p>Description.</p>
            </div>

            <div class="page-content">
                <div class="panspace-container" id="panspace_container">
                    <div class="box" v-for="box in boxes">
                        {% include "./div-template.html" %}
                    </div>

                    <div class="box">
                        <div class="number">£</div>
                    </div>

                </div>
            </div>

            <div class="display-none">
                {% include "./cell-template.html" %}
            </div>
        </main>


        <div class="canvas-container fore">
            <canvas id="fore_canvas"></canvas>
            <div class="test-indicator-container display-none">
                <div class="test-indicator"></div>
            </div>
        </div>
    </div>

    {% include "./mini-app.html" %}

    {# <script src="./static/js/vendor/winbox.min.js"></script> #}
    <script src="./static/js/vendor/petite-vue.iife.js"></script>

    <script src="./static/js/src/canvas-layer.js"></script>
    <script src="./static/js/src/pens/straight-lines.js"></script>
    <script src="./static/js/src/pens/curve-lines.js"></script>
    <script src="./static/js/src/pens/s-curve-lines.js"></script>

    <script src="./static/js/src/standalone/infinite-drag.js"></script>
    {# <script src="./static/js/src/standalone/winbox-infinite-drag.js"></script> #}

    <script src="./static/js/src/pure/graph-walker.js"></script>
    <script src="./static/js/src/graph-highlighter.js"></script>
    <script src="./static/js/src/pure/graph-executor.js"></script>
    <script src="./static/js/src/pipes-tool.js"></script>

    <script src="./static/js/vendor/dragsolo.js"></script>
    <script src="./static/js/pure/pipes-divs-app.js"></script>
    {# <script src="./static/js/graph-demo.js"></script> #}
    <script src="./static/js/pure/pipes-divs-ui-app.js"></script>
    <script src="./static/js/pure/div-data.js"></script>
    <script src="./static/js/index.js"></script>

</body>
</html>


