{% raw %}
<div class="admin-bar" id="mini_app">

    <div class="group">
        <label>
            <input v-model='animateLines' @change="animateLinesCheckChange($event)" type="checkbox">
            <span class="label">Animate Draw</span>
        </label>

        <div>
            <a href="javascript:;" @click="redrawCanvas()">Draw</a>
        </div>
    </div>


    <div class="group">

        <div class="inline-input">
            <input v-model='newPanelName' type="text" name="panel_name" id="panel_name">
            <a href="javascript:;" @click="spawnWindow()">Spawn</a>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="group">
        <div class="label">Lights</div>
        <a href="javascript:;" @click="stopStepHighlighted()">Stop</a>
        <a href="javascript:;" @click="stepOnceHighlighted()">Step</a>
        <a href="javascript:;" @click="startStepHighlighted()">Run</a>
    </div>

    <div class="group">
        <div class="label">Execute</div>
        <a href="javascript:;" @click="startExecuteLoop()">Start</a>
        <a href="javascript:;" @click="stopExecuteLoop()">Stop</a>

    </div>

    <div class="spacer"></div>

    <div class="group">
        <a href="javascript:;" @click="clearButton()">Clear</a>

        <div class="spacer"></div>
        <a href="javascript:;" @click="restoreButton()">Restore</a>

        <div class="spacer"></div>
        <a href="javascript:;" @click="saveButton()">Save</a>
    </div>
</div>
{% endraw %}